name: Validate backwards compatibility

on:
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:
      inputs:
          logLevel:
              description: "Log level"
              required: true
              default: "warning"
              type: choice
              options:
                  - info
                  - warning
                  - debug
  
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: comfy-org/node-diff@main
